backend:
  name: git-gateway    
  branch: master

media_folder: static/assets
public_folder: assets

collections:
  - name: pages
    label: Pages
    files: 
    - name: home
      label: Home
      file: src/markdown-pages/home.md
      fields:
        - { name: path, label: Path }
        - { name: title, label: Title, widget: string }
        - { name: description, label: Description, widget: string, required: false }
        - { name: image, label: Image,  widget: image }
    - name: press
      label: Selected Press
      file: src/markdown-pages/press.md
      fields:
        - { name: path, label: Path }
        - { name: title, label: Title, widget: string }
        - { name: description, label: Description, required: false}
        - name: press
          label: press 
          widget: list
          fields: 
            - { name: publisher, label: publisher name, widget: string }
            - { name: title, label: Title, widget: string }
            - { name: link, label: Link, widget: string }
            - { name: year, label: Year, widget: string }
    - name: listen
      label: Listen
      file: src/markdown-pages/listen.md
      fields:
      - { name: path, label: Path }
      - { name: title, label: Title, widget: string }
      - { name: description, label: Description, required: false}
      - name: listenLink
        label: Listen Items
        widget: list
        fields: 
        - { name: publication, label: Name of Publication, widget: string }
        - { name: outlet, label: Media Outlet/Publisher, widget: string, required: false}
        - { name: title, label: Title, widget: string }
        - { name: link, label: Link, widget: string, required: false }
        - { name: embed, label: embed, widget: code, required: false }
        - { name: year, label: Year, widget: string }
    - name: publications
      label: Selected Publications 
      file: src/markdown-pages/publications.md
      fields:
        - { name: path, label: Path }
        - { name: title, label: Title }
        - { name: description, label: Description, required: false }
        - name: publications
          label: Publications
          widget: list
          fields: 
          - { name: title, label: Title of Work, widget: string }
          - { name: year, label: Year, widget: string }
          - { name: outlet, label: Media Outlet, widget: string }
          - { name: link, label: Link, widget: string }
          - name: awards
            label: Awards
            required: false
            fields: 
              - { name: title, label: title of award, widget: string }
              - { name: image, label: image, widget: image, required: false }
    - name: contact
      label: Contact
      file: src/markdown-pages/contact.md
      fields:
        - { name: path, label: Path }
        - { name: title, label: title, widget: string }
        - { name: description, label: Description, required: false}
        - name: contactLinks
          label: Contact Items
          widget: list
          fields: 
            - { name: title, label: Method, widget: string }
            - { name: username, label: Username, widget: string }
            - { name: link, label: Link, widget: string, required: false }

